:root {
  --nirika-light-r: 255; --nirika-light-g: 255; --nirika-light-b: 255;
  --nirika-light-intensity: 1;
}

.nirika-theme-arctic {
  --nirika-light-r: 210 !important; --nirika-light-g: 230 !important; --nirika-light-b: 255 !important;
}
.nirika-theme-emerald {
  --nirika-light-r: 180 !important; --nirika-light-g: 225 !important; --nirika-light-b: 200 !important;
}
.nirika-theme-aurora-pink {
  --nirika-light-r: 255 !important; --nirika-light-g: 210 !important; --nirika-light-b: 225 !important;
}
.nirika-theme-sunset {
  --nirika-light-r: 255 !important; --nirika-light-g: 200 !important; --nirika-light-b: 165 !important;
}
.nirika-theme-amethyst {
  --nirika-light-r: 215 !important; --nirika-light-g: 190 !important; --nirika-light-b: 245 !important;
}
